#if defined(UNDER_CE)
	#include <winbase.h>
#else
	#include <winver.h>
#endif
IDI_ICON1 ICON DISCARDABLE "stdfv4.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "Çï¸çÖÆ×÷"
            VALUE "FileDescription", "Just For STDF Format Test"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "QtDataAnalysis"
            VALUE "LegalCopyright", "Copyright (C) 2016"
            VALUE "OriginalFilename", "Stdf_V4_Reader.exe"
            VALUE "ProductName", "Stdf_V4_Reader"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
